html {
    height: 100%;
}

body{
    height:100%;
    display: flex;
    justify-content: center; /* children are center aligned horizontal*/
    align-items: center; /*vertical*/
    background-color: black;
}

#viewport{
    width: 975px;
    height: 322px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/room.png');
}

#pet{
    width: 254px;
    height: 322px;
    position:relative;
    left: 600px;
    background-image: url("../images/bluey.png");
}

#foodbowl{
    width: 100px;
    height: 100px;
    background-image: url("../images/dog-food.svg");
    position: relative;
    right:100%;
    top: 70%;
}

#foodbutton:focus{
    align-items: center;
    justify-content: center;
    background-color: rgb(161, 230, 122);
}

#walkimage{
    width: 100px;
    height: 100px;
    background-image: url("../images/walking-the-dog.svg");
    position: relative;
    left: -300%;
    bottom: 53%;
}
#walkbutton:focus{
    align-items: center;
    justify-content: center;
    background: rgb(161, 230, 122);
}

#growupimage{
    width: 100px;
    height: 100px;
    background-image: url("../images/birthday-cake.svg");
    position: relative;
    left: 506%;
    bottom: 136%;
}

#growupbutton:focus{
    align-items: center;
    justify-content: center;
    background: rgb(161, 230, 122);
}